*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}
.title{
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 23px;
}
.logo-titulo{
    display: flex;
    align-items: center;
}
.barrnav img.logo{
    height: 60px;
    margin-right: 20px;
}
.barrnav{
    position: fixed;
    top: 0; left: 0; right: 0; height: 65px;
    background:#a3bff4;;
    padding: 1rem 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    color: white;
}
.barrnav .nav-links a, 
.barrnav .iconos a{
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.icono {
    font-size: 28px;
    color: #333;
    margin: 10px;
    transition: color 0.3s ease;
  }
  .icono:hover {
    color: white;
  }
  .contenedor{ 
    background-image: url(../Fotos/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 90px;
    width: 100%;
}
.contenedor h2{
    margin-top: 70px;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
}
.contenedor span{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    line-height: 1.5;
    text-align: left;
}
.contenedor p{
    font-size:17px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    text-align: justify;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 3rem;
    background: #ffffff;
    color: #fff;
    padding: 1rem ;
    cursor: pointer;
    font-size: 1.7rem;
}
.search-bar {
    display: flex;
    padding-right: 240px;
    width: 3px;
  }
  .search-bar input[type="text"] {
    padding: 3px;
    border: none;
    border-radius: 3px 0 0 3px;
  }
  .search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #aaa8a8;
    color: white;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
  }

  .custom-blue-btn {
    background-color: #a3bff4; 
    color: #093561;              
    border: none;
  }

  .custom-blue-btn:hover,
.custom-blue-btn:focus {
  background-color: #91ade0;
  color: #093561;
}

.move-right{
    margin-left: auto;
    padding-right: 20px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
  }
  
  th, td {
    border: 1px solid #333 !important;
    padding: 8px 12px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }